# =========================
# ОС и Среды разработки (IDE)
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo
start.bat
stop.bat

# =========================
# Backend (Python / FastAPI)
# =========================
# Кэш байт-кода
__pycache__/
*.py[cod]
*$py.class

# Виртуальные окружения
backend/venv/
backend/.venv/
venv/
env/
.env

# Локальные базы данных (если решишь перейти на SQLite)
*.sqlite3
*.db

# =========================
# Frontend (Node.js / Vite / React)
# =========================
frontend/node_modules/
node_modules/

# Папки со сборкой (Vite)
frontend/dist/
dist/
dist-ssr/

# Логи npm/yarn
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# =========================
# Docker и Базы данных
# =========================
# Игнорируем папку с локальной базой PostgreSQL (ОБЯЗАТЕЛЬНО!)
pg_data/
docker-compose.override.yml